@model Amps.Models.Amp[]
@{
    ViewData["Title"] = "AmpsApp";
}

<section>
    <div class="row column">
        <h1>Amps</h1>
        <table>
            <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Speakers</th>
                <th>Watts</th>
                <th>Weight</th>
                <th>MSRP</th>
                <th>Effects Loop</th>
                <th>Reverb</th>
                <th>Tremolo</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var amp in Model)
            {
                <tr>
                    <td>@amp.Make</td>
                    <td>
                        <a href="@($"/amps/{amp.Slug}/")">@amp.Model</a>
                    </td>
                    <td>@amp.SpeakerConfiguration</td>
                    <td>@amp.Watts</td>
                    <td>@amp.Weight</td>
                    <td>@($"${amp.MSRP}")</td>
                    <td>@amp.HasEffectsLoop</td>
                    <td>@amp.HasReverb</td>
                    <td>@amp.HasTremolo</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>